.wrapper{
    position:relative;
    padding:0;
    border:0;
    widows: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 150px;
}

.box{
    position:absolute;
    width:60px;
    height:30px;
    border-style: solid;
}
.box-1st{
    top:18px;
    left:53px;
}
.box-2nd{
    top:18px;
    left:163px;
}
.box-3rd{
    top:18px;
    left:290px;
}
.box-4th{
    top:18px;
    left:418px;
}
.box-5th{
    top:18px;
    left:548px;
}
.box-6th{
    top:18px;
    left:660px;
}
.grade1{
    background-color: rgb(255, 255, 204);
}
.grade2{
    background-color: rgb(245, 229, 27);
}
.grade3{
    background-color: rgb(243, 156, 18);
}
.grade4{
    background-color: rgb(249, 105, 14);
}
.grade5{
    background-color: rgb(242, 38, 19);
}
